:root{
    --color-primary: #4db5ff;
    --color-primary-light: rgba(77,181,255,0.4);
    --color-secondary: #FC3968;
    --color-secondary-light: #FEB0C3;
    --color-background: #142d4c;
    --color-background-light: #2c2c6c;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;
}