@import "_variables.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    color: white;
    line-height: 1.7;
    background-image: url("../images/wave_pattern.svg") ;
    scroll-behavior: smooth;
}
